
footer{
	position:absolute;
    width: 100%;
    z-index: 0;
    top:1600px;
	background-color: #eee;
}

 
footer div{
	margin-top: 30px;
}

p{
padding-bottom: 5px;
padding-right: 10%;
color: #a7a69d;
}

.footer {
	/* 푸터바  */
margin-bottom:0px;
border: none;
padding: 5px;
background-color: #a7a69d;

}


.a3{
	/* 푸터바 폰트 색상 */
color: #eee;
text-decoration: none;
font-size: small;
}

footer li a{
	font-size: 13px;
	color: #ddd;
}

#copy{
	margin-left: 200px;
}