div{
z-index: -2;	
}




#tt{
	
	margin-top:20px;
	width:100%;
	height:100px;
	border: 1px solid;
}


#orderlist{
	
	margin-top:20px;
	width:100%;
	height:200px;
		border: 1px solid;
		border-collapse: collapse;
	
}

#cuponcheck table{
	margin-top:20px;
	border: 1px solid #bbb;
	border-collapse: collapse;
	border-bottom-color: #1770b5;
	border-top-color: #1770b5;
	border-left: none;
	border-right: none;
	margin-bottom: 15px;
}

#cuponcheck table td{
	text-align: center;
	font-weight: bold;
	font-size: medium;
}

#usertab{
	background: #dde5ff;
	
} 