
#container{
	width: 100%;
	margin: 260px 0px;
	text-align: center;
	border: 0px solid #bcbcbc;
	background-color:white;
}


#content{
	margin-top:5px;
	width:70%;
	margin-left:250px;
	float: left;
	height: 100%;
	z-index: -1;
	
/* 	border: 2px solid #bcbcbc; */
/* 사이드바 높이 없어지면서 메인부분이 높이가 너무 짧아짐 내용부분에 높이 추가하면댐 */ 
	
}


#d1{
font-size:large;
text-align:left;
width: 100%;
height: 5%;
margin-bottom: 0px;
margin-top: 25px;
float: left;
/* position: fixed; */
}

#d2{
font-size:13px;
float:left;
height: 10px;
padding-top:5px;
margin-bottom: 70px;
}

#d3{
	float: left;
	font-size: medium;
	color: #bbb;
}

#d6{
	float:left;
	border:1px solid;
	margin-bottom: 50px;
	font-size: medium;
	color: #bbb;

}

#d4{
float:left;
/* position:relative;
top:500px; */
/* border:1px solid; */
width: 95%;
height: auto;
font-size: medium;
border-top: 3px solid #000;

}

#d4 td{
	padding-top: 15px;
	padding-bottom: 15px;
}


div button{
	height:30px;
	margin-left: 0px;
	background-color: white;
	border: none;
}



/* .well{
	float:left;
	width: 85%;
} */



/* 장바구니,구매 버튼  */
.btn_blue {
    background-image: none;
    background-color: #5e6b9f !important;
    border: 1px solid #5e6b9f;
    color: #fff !important;
    box-shadow: none;
    width: 170px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.btn_blue2 {
    background-image: none;
    background-color: #7b8ed1 !important;
    border: 1px solid #7b8ed1;
    color: #fff !important;
    box-shadow: none;
    width: 170px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#price{
	font-size: 14px;
}

#sale{
	font-size: 16px;
	color: red;
}


/* quick메뉴 버튼  */
#quick_menu2 .btn_quick_top a {
    display:inline-flex;
    position:absolute;
    left:90%;
    width: 60px;
    height: 34px;
    font-size: 0;
    color: transparent;
    border: 1px solid #d2d2d2;
    background: #f9f9f9 url(http://image.kyobobook.co.kr/ink/images/gnb/nav6_btn_sprite.png) no-repeat 21px -108px;
    transition: all 0.2s;
}
#quick_menu2 .btn_quick_down a {
    display:inline-flex;
    position:absolute;
    left:90%;
    top:35%;
    width: 60px;
    height: 34px;
    font-size: 0;
    color: transparent;
    border: 1px solid #d2d2d2;
    background: #f9f9f9 url(http://image.kyobobook.co.kr/ink/images/gnb/nav6_btn_sprite.png) no-repeat -19px -108px;
    transition: all 0.2s;
}

#quick_menu2 .btn_quick_down a:hover {
    border-color: #999;
}

#d5{
/* 이 영역 옆에서 계속 따라다니도록 설정하기 */	
	
}