div{
z-index: -2;	
}




#title{
	
	
}


#priceinfo{
	/* 높이 조정가능 임시 설정 */
	height: 500px; 
}


#infotab{
	float: left;
	/* 높이 조정가능 임시 설정 */
	height: 300px;
	width: 100%;
}

table{
	border: 1px solid;
	border-collapse: collapse;
	width: 100%;
}