#detailtitle ol{
	padding-top:15px;
	background-color: white;
	font-size: medium;
}

#detailtitle {
	padding-top:10px;
	font-size: large;
	font-weight: bold;
}

.hr123 {
    height: 1px;
    /* Set the hr color */
    background-color: #000000; /* Modern Browsers */
    border-bottom: 1px dotted;
}
