#detailtitle ol{
padding-top:15px;
background-color: white;
<<<<<<< HEAD
font-size: medium;
}



=======
font-size: large;
	
}

#detailtitle {
	padding-top:10px;
	font-size: large;
	font-weight: bold;
}
>>>>>>> f9df9ab533501f02a7a324c3c4509ec6b6068708
