@charset "UTF-8";

<!-- 타이틀 이미지 -->






<!-- 타이틀 매장정보div -->
.info_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 145px;
    background: url(http://image.kyobobook.co.kr/ink/images/storeinfo/2020_renew/opacity60_bg.png) 0 0 repeat;
}

.info {
    float: left;
    width: 316.6666px;
    height: 100%;
    margin-top: 12px;
    overflow: hidden;
    text-align: center;
    font-style: 14px !important;
   
}



.store_visual .info_wrap h3 {
    text-indent: -9999px;
    display: none;
}

<!-- 타이틀 nav -->
.nav_wrap .nav {
    position: relative;
    width: 950px;
    height: 132px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
}

.nav_wrap .nav ul {
    position: inherit;
    top: 63px;
    left: 0;
    width: 950px;
}

.nav_wrap .nav ul li a {
    display: block;
    color: #000;
    font-size: 24px;
    line-height: 52px;
    font-weight: bold;
    letter-spacing: -2px;
}


a:hover {
    color: #0056b3;
    text-decoration: underline;
}








<!-- 오시는 방법 -->
.a{
	text-align: left;
}