@charset "UTF-8";

/* 공지사항  */
.h1_notice {
  height: 50px;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px 0 10px;
  border-bottom: 2px solid #565656;
  font-size: 25px;
  overflow: hidden;
  color: #333333;
  font-weight: bold;
}

/* 공지사항 Write 게시판 */
table{
	border-collapse: collapse;
	width: 600px;
}

.left{
	background-color: #eee;
	width: 1000px;
	
}

tr:hover {
	background-color: gray;
}