@charset "UTF-8";

/* 공지사항  */
.h1_notice {
  height: 50px;
  text-align: left;
  margin-bottom: 10px;
  padding: 28px 0 40px;
  border-bottom: 2px solid #565656;
  font-size: 25px;
  overflow: hidden;
  color: #333333;
  font-weight: bold;
}

/* 공지사항view 게시판 */
.table{
	width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 13.5px;
    margin-bottom: 50px;
}

.th_title {
	background-color: #eee;
	text-align: center;
}
.th_title {
	background-color: #eee;
	text-align: center;
}
.th_seq {
	background-color: #eee;
	text-align: center;
}
.th_date {
	background-color: #eee;
	text-align: center;
}
.th_hit {
	background-color: #eee;
	text-align: center;
}
.th_content {
	background-color: #eee;
	text-align: center;
}



.td_title{
	text-align: left;
}
.td_seq{
	text-align: left;
}
.td_date{
	text-align: left;
}
.td_hit{
	text-align: left;
}
.td_content {
	height: 360px;
	text-align: left;
}






/* 목록 버튼 */
.btn {
	margin-bottom: 25px;
	font-size: 13px;
}
/* 삭제,수정 버튼 */
.admin_btn {
	margin-bottom: 25px;
	font-size: 13px;
}













