@charset "UTF-8";

/* 공지사항  */
.h1_notice {
  height: 50px;
  text-align: left;
  margin-bottom: 10px;
  padding: 28px 0 40px;
  border-bottom: 2px solid #565656;
  font-size: 25px;
  overflow: hidden;
  color: #333333;
  font-weight: bold;
}


/* 공지사항 List 게시판 */
.noticeListTable {
    width: 100%;
    height: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 13px;
	
}

.totcnt{
	text-align: left;
}

.th_line{
	text-align: center;
}

th, td {
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.ntitle{
	text-align: center;
}

a:hover {
    color: #666;
    text-decoration: none;
}

.td_line_none_left {
    text-align: left !important;
}

.td_line_none_left {
    text-align: left;
    line-height: 18px;
}

/* 페이징 */
.paging_num {
    text-align: center;
    font-size: 13px;
}

.page_area {
	clear: both;
	margin-bottom: 30px;
}

.a {
	position: relative;
	margin: 3px 5px 1px 5px;
	border: solid 1px #666;
}

/* 서치 */

.form{
	margin: 100px;
}

.searchArea {
	font-size: 13px;
}

/* 총 게시물 */
.totcnt {
	position: relative;
	text-align: right;
	font-size: 12px;
}

/* 글쓰기 버튼 */
.btn {
	text-align: right;
	margin-bottom: 30px;
	font-size: 13px;
	font-weight: bold;
}


