/* 공지사항  */
.h1_notice {
  height: 50px;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px 0 10px;
  border-bottom: 2px solid #565656;
  font-size: 25px;
  overflow: hidden;
  color: #333333;
  font-weight: bold;
}








/* 공지사항 List 게시판 */
.notice_board {
	background-color: aqua;
}

.margin_top20 {
    margin-top: 20px !important;
}

.noticeListTable {
    width: 100%;
    height: 20px;
    border-top: 1px solid #a8afe5;
    border-bottom: 1px solid #a8afe5;
    font-size: 13px;
    background: url(http://image.kyobobook.co.kr/ink/images/common/bg_th.gif) repeat-x left top;
}



/* 공지사항 Write 게시판 */
table{
	border-collapse: collapse;
	width: 600px;
}

th, td {
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.left{
	background-color: #eee;
	width: 1000px;
	
}

tr:hover {
	background-color: green;
}



/* 공지사항 Update 테이블 */
.noticeUpdateboard {
    width: 100%;
    height: 20px;
    border-top: 1px solid #a8afe5;
    border-bottom: 1px solid #a8afe5;
    font-size: 13px;
}

.noticeUpdateBoard > th {
	width: 100px;
	padding: 100px;
	text-align: center;
}

.updatebtn {
	padding: 10px;
	border: none;
}




/* 페이징 */
.page_area {
	clear: both;
	margin-bottom: 30px;
}

.page_area > a {
	position: relative;
	margin: 3px 5px 1px 5px;
	border: solid 1px #000;
}