<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- //변경섭씨 담당 메인전용 xml -->
<mapper namespace="com.tech.booksajo.main.mapper.MainMapper">
	<select id="getList" resultType="map">
	 select * from book
	</select>
	
	<select id="getData" resultType="com.tech.booksajo.main.vo.MainDto">
		SELECT aa.*
		FROM
			bsjbook aa,
			(SELECT SUM(b.order_count) order_count, a.isbn
				FROM bsjbook a, bsjorder_detail b
				WHERE a.isbn = b.isbn
				GROUP BY a.isbn) bb
		WHERE aa.isbn = bb.isbn AND <![CDATA[ROWNUM <= 16]]>
		ORDER BY bb.order_count DESC
	</select>
	
	<select id="bestCount" resultType="int">
		SELECT count(*)
		FROM
		    bsjbook aa,
		    (SELECT bb.*, ROW_NUMBER() OVER(ORDER BY bb.order_count DESC) AS row_no
		        FROM
		            (SELECT SUM(b.order_count) order_count, a.isbn
		            FROM bsjbook a,
		            	<include refid="inc" />
		            WHERE
		            	a.isbn = b.isbn
		            GROUP BY a.isbn) bb) cc
		WHERE aa.isbn = cc.isbn
	</select>
	
	<select id="getAllData" resultType="com.tech.booksajo.main.vo.MainDto">
		SELECT row_no, aa.*
		FROM
		    bsjbook aa,
		    (SELECT bb.*, ROW_NUMBER() OVER(ORDER BY bb.order_count DESC) AS row_no
		        FROM
		            (SELECT SUM(b.order_count) order_count, a.isbn
		            FROM bsjbook a,
		            	<include refid="includeList" />
		            WHERE
		            	a.isbn = b.isbn
		            GROUP BY a.isbn) bb) cc
		WHERE aa.isbn = cc.isbn AND row_no BETWEEN #{param1} AND #{param2}
	</select>
	
	<sql id="includeList">
		<choose>
			<when test="param3 == 1">
				(SELECT order_date, b1.* FROM bsjorder a1, bsjorder_detail b1 WHERE TO_NUMBER(TO_CHAR(order_date, 'YYYYMM')) >= TO_NUMBER(TO_CHAR(ADD_MONTHS(sysdate, -1), 'YYYYMM')) AND a1.order_no = b1.order_no) b
			</when>
			<when test="param3 == 2">
				(SELECT order_date, b1.* FROM bsjorder a1, bsjorder_detail b1 WHERE TO_NUMBER(TO_CHAR(order_date, 'YYYYMM')) >= TO_NUMBER(TO_CHAR(ADD_MONTHS(sysdate, -12), 'YYYYMM')) AND a1.order_no = b1.order_no) b
			</when>
			<otherwise>
		 		bsjorder_detail b
			</otherwise>
		</choose>
	</sql>
	
	
	<sql id="inc">
		<choose>
			<when test="cCheck == 1">
				(SELECT order_date, b1.* FROM bsjorder a1, bsjorder_detail b1 WHERE TO_NUMBER(TO_CHAR(order_date, 'YYYYMM')) >= TO_NUMBER(TO_CHAR(ADD_MONTHS(sysdate, -1), 'YYYYMM')) AND a1.order_no = b1.order_no) b
			</when>
			<when test="cCheck == 2">
				(SELECT order_date, b1.* FROM bsjorder a1, bsjorder_detail b1 WHERE TO_NUMBER(TO_CHAR(order_date, 'YYYYMM')) >= TO_NUMBER(TO_CHAR(ADD_MONTHS(sysdate, -12), 'YYYYMM')) AND a1.order_no = b1.order_no) b
			</when>
			<otherwise>
		 		bsjorder_detail b
			</otherwise>
		</choose>
	</sql>
	
	<select id="classMajor" resultType="String">
		SELECT class_major
		FROM 
		    bsjbook aa,
		    (SELECT sum(order_count) order_count, isbn FROM bsjorder a, bsjorder_detail b
		    WHERE
		        a.order_no = b.order_no
		        AND a.user_id = #{param1}
		    GROUP BY b.isbn) bb
		WHERE aa.isbn = bb.isbn
		ORDER BY bb.order_count DESC
	</select>
	
	<select id="rList" resultType="com.tech.booksajo.main.vo.MainDto">
	SELECT a.*
	FROM BSJBOOK a,
	    (SELECT isbn, sum(order_count) FROM bsjorder_detail GROUP BY isbn ORDER BY SUM(order_count) DESC) b    
	WHERE class_major = #{param1} AND a.isbn = b.isbn AND <![CDATA[ROWNUM <= 8]]>
	
	</select>

</mapper>