<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tech.booksajo.notice.mapper.NoticeMapper">

	<select id="noticeList" resultType="com.tech.booksajo.notice.vo.NoticeDto">
		SELECT NSEQ,NTITLE,NCONTENT,NDATE,NHIT
		FROM
		(SELECT NSEQ,NTITLE,NCONTENT,NDATE,NHIT,
		ROW_NUMBER() OVER(ORDER BY NSEQ DESC) BSJNOTICE_SEQ FROM BSJNOTICE
		<include refid="includeList" />
		)
		WHERE BSJNOTICE_SEQ BETWEEN #{param1} AND #{param2}
	</select>

	<sql id="includeList">
		<choose>
			<when test="param4==1">
				WHERE NTITLE LIKE '%'||#{param3}||'%'
			</when>
			<when test="param4==2">
				WHERE NCONTENT LIKE '%'||#{param3}||'%'
			</when>
			<when test="param4==3">
				WHERE NTITLE LIKE '%'||#{param3}||'%' or NCONTENT
				LIKE '%'||#{param3}||'%'
			</when>
			<otherwise>
		 	<!-- 3이상의 경우는 없어서 빈란임 -->
		 	
			</otherwise>
		</choose>
	</sql>

	<select id="selectBoardTotCount1" resultType="Integer">
		SELECT COUNT(*)
		FROM BSJNOTICE WHERE NTITLE LIKE '%'||#{param1}||'%'
	</select>
	<select id="selectBoardTotCount2" resultType="Integer">
		SELECT COUNT(*)
		FROM BSJNOTICE WHERE NCONTENT LIKE '%'||#{param1}||'%'
	</select>
	<select id="selectBoardTotCount3" resultType="Integer">
		SELECT COUNT(*)
		FROM BSJNOTICE WHERE (NTITLE LIKE '%'||#{param1}||'%' OR NCONTENT
		LIKE '%'||#{param1}||'%')
	</select>
	<select id="selectBoardTotCount0" resultType="Integer">
		SELECT COUNT(*)
		FROM BSJNOTICE
	</select>
	
	<select id="noticeView" resultType="com.tech.booksajo.notice.vo.NoticeDto">
		SELECT NSEQ,NTITLE,NCONTENT,NDATE,NHIT
		FROM BSJNOTICE WHERE NSEQ=#{param1}
	</select>

	<update id="upHit">
		UPDATE BSJNOTICE
		SET NHIT=NHIT+1 WHERE NSEQ=#{param1}
	</update>
	
	<insert id="noticeWrite">
		INSERT INTO BSJNOTICE
		VALUES(BSJNOTICE_SEQ.NEXTVAL,#{param1},#{param2},SYSDATE,0)
	</insert>
	
	<update id="noticeModify">
		UPDATE BSJNOTICE
		SET NTITLE=#{param2},NCONTENT=#{param3}
		WHERE NSEQ=#{param1}
	</update>	
	
	<delete id="noticeDelete">
		DELETE FROM BSJNOTICE WHERE NSEQ=#{param1}
	</delete>
	
<!-- 	<select id="noticeCancel" resultType="com.tech.booksajo.notice.vo.NoticeDto">
		SELECT NSEQ,NTITLE,NCONTENT,NDATE,NHIT
		FROM BSJNOTICE WHERE NSEQ=#{param1}
	</select> -->	
</mapper>