<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- //임현주 담당 마이페이지 전용 xml -->
<!-- 멥퍼 경로 잘못설정되면 . jsp뷰 부분에서도 에러남. -->

<mapper namespace="com.tech.booksajo.search.mapper.SearchMapper">

<!-- <select name="" id="">
	select * from book;
</select> -->

  <sql id="includelist"> 
	   <choose>
	   <!-- 파람4값이 1일때 -->
	      <when test="param4==1"> 
	         WHERE BTITLE LIKE '%'||#{param3}||'%'
	      </when>
	      <!-- 파람4값이 2일때 -->
	      <when test="param4==2">
	         WHERE BCONTENT LIKE '%'||#{param3}||'%'
	      </when>
	      <!-- 파람4값이 3일때 -->
	      <when test="param4==3">
	         WHERE BTITLE LIKE '%'||#{param3}||'%' or BCONTENT LIKE '%'||#{param3}||'%'
	      </when>
	      <otherwise>
	      
	      <!-- 3이상의 경우는 없어서 빈란임 -->
	      
	      </otherwise>
	   </choose>
   </sql>

<!-- 	<select id="list" resultType="map">
		SELECT BID,BNAME,BTITLE,BCONTENT,BDATE,BGROUP,BSTEP,BINDENT 
		FROM
		(SELECT BID,BNAME,BTITLE,BCONTENT,BDATE,BHIT,BGROUP,BSTEP,BINDENT,
		ROW_NUMBER() OVER(ORDER BY BGROUP DESC,BSTEP ASC) B_SEQ FROM REPLYBOARD
		<include refid="includelist" />
		)
		WHERE B_SEQ BETWEEN #{param1} AND #{param2}	

	</select>	
	 -->
	<select id="selectBoardTotCount1" resultType="Integer">
	SELECT COUNT(*) FROM REPLYBOARD WHERE BTITLE LIKE '%'||#{param1}||'%'
	</select>	
	<select id="selectBoardTotCount2" resultType="Integer">
		SELECT COUNT(*) FROM REPLYBOARD WHERE BCONTENT LIKE '%'||#{param1}||'%'
	</select>	
		<select id="selectBoardTotCount3" resultType="Integer">
		SELECT COUNT(*) FROM REPLYBOARD WHERE (BTITLE LIKE '%'||#{param1}||'%' OR BCONTENT LIKE '%'||#{param1}||'%') 
	</select>	
		<select id="selectBoardTotCount0" resultType="Integer">
		SELECT COUNT(*) FROM REPLYBOARD
	</select>	
		
		<!-- id는 함수이름명과 같아야함 -->
	<!-- 인서트 쿼리 id만들때 파라미터타입 넣어줘야함. 왜냐면 타입을 지정한다음에 인서트해줘야함. -->
	<insert id="write">
		INSERT INTO REPLYBOARD
			VALUES(REPLYBOARD_SEQ.NEXTVAL,#{param1},#{param2},#{param3},
			SYSDATE,0,REPLYBOARD_SEQ.CURRVAL,0,0)
	</insert>
	
	
		<!-- 받아오려는 애들이 Dto에있는 겟터세터 타입 형식이라고 해줘야지 받는데 문제가 없음. 리져트타입 안멩글어주면
	무슨 타입인지 몰라서 문제생김 -->
	<select id="contentView" resultType="map">
		SELECT BID,BNAME,BTITLE,BCONTENT,BDATE,
		BHIT,BGROUP,BSTEP,BINDENT
		FROM REPLYBOARD WHERE BID=#{param1}
	</select>
	
	<update id="upHit">
		UPDATE REPLYBOARD
		SET BHIT = BHIT + 1 
		WHERE BID = #{param1}
	</update>
	
	
</mapper>